/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/uploads/files/*.pdf
/web/uploads/files/*.png
/web/uploads/files/*.jpeg
/web/uploads/files/*.jpg
/web/created/pdfs/*.pdf
/app/DoctrineMigrations/
*.idea*